@font-face {
    font-family: 'ibm-80x25';
    src: url('Px437_IBM_VGA8.woff2') format('woff2'),
         url('Px437_IBM_VGA8.woff') format('woff');
}

@font-face {
    font-family: 'ibm-80x50';
    src: url('Px437_IBM_CGA.woff2') format('woff2'),
         url('Px437_IBM_CGA.woff') format('woff');
}

@font-face {
  font-family: 'rez-ascii';
  src: url('rez-ascii.woff2') format('woff2'),
       url('rez-ascii.woff') format('woff');
}

@font-face {
  font-family: 'topaz';
  src: url('Topaz_a1200_v1.0.woff2') format('woff2'),
       url('Topaz_a1200_v1.0.woff') format('woff');
}

@font-face {
  font-family: 'topaz-hires';
  src: url('Topaz_a1200_v1.0-hires.woff2') format('woff2'),
       url('Topaz_a1200_v1.0-hires.woff') format('woff');
}
